<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../index.css" />
    <title>Admin Page</title>
  </head>
  <body>
    <div class="container">
      <nav class="side-navbar">
        <div class="component">
          <a href="StoreDetails.html">
            <div class="component-image">
              <img src="../assets/store-icon.svg" alt="Store" />
            </div>
            <div class="component-text">Store Details</div>
          </a>
        </div>
        <div class="component">
          <a href="ManageProducts.html">
            <div class="component-image">
              <img src="../assets/store-icon.svg" alt="Store" />
            </div>
            <div class="component-text">Manage Products</div>
          </a>
        </div>
        <div class="component">
          <a href="ManageUsers.html"
            ><div class="component-image">
              <img src="../assets/store-icon.svg" alt="Store" />
            </div>
            <div class="component-text">Manage Users</div></a
          >
        </div>
        <div class="component">
          <a href="ManageOrders.html"
            ><div class="component-image">
              <img src="../assets/store-icon.svg" alt="Store" />
            </div>
            <div class="component-text">Manage Orders</div></a
          >
        </div>
        <div class="component">
          <a href="SalesData.html"
            ><div class="component-image">
              <img src="../assets/store-icon.svg" alt="Store" />
            </div>
            <div class="component-text">Sales Data</div></a
          >
        </div>
      </nav>
      <main class="mainDiv">
        <div class="main-component-header">
          <a class="card-simple-a" href="./DeliveredOrders.html">
            <div class="card-simple">Delivered Orders</div>
          </a>
          <a class="card-simple-a" href="./OutstandingOrders.html">
            <div class="card-simple">Outstanding Orders</div>
          </a>
          <a class="card-simple-a" href="./ReturnOrders.html">
            <div class="card-simple">Return Products</div>
          </a>
        </div>
      </main>
    </div>
  </body>
</html>
