<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../index.css" />
    <title>Admin Page</title>
  </head>
  <body>
    <div class="container">
      <nav class="side-navbar">
        <div class="component">
          <a href="StoreDetails.html">
            <div class="component-image">
              <img src="../assets/store-icon.svg" alt="Store" />
            </div>
            <div class="component-text">Store Details</div>
          </a>
        </div>
        <div class="component">
          <a href="ManageProducts.html">
            <div class="component-image">
              <img src="../assets/store-icon.svg" alt="Store" />
            </div>
            <div class="component-text">Manage Products</div>
          </a>
        </div>
        <div class="component">
          <a href="ManageUsers.html"
            ><div class="component-image">
              <img src="../assets/store-icon.svg" alt="Store" />
            </div>
            <div class="component-text">Manage Users</div></a
          >
        </div>
        <div class="component">
          <a href="ManageOrders.html"
            ><div class="component-image">
              <img src="../assets/store-icon.svg" alt="Store" />
            </div>
            <div class="component-text">Manage Orders</div></a
          >
        </div>
        <div class="component">
          <a href="SalesData.html"
            ><div class="component-image">
              <img src="../assets/store-icon.svg" alt="Store" />
            </div>
            <div class="component-text">Sales Data</div></a
          >
        </div>
      </nav>
      <main class="mainDiv">
        <div class="main-component-header">
          <a class="card-simple-a" href="./ManageProdCategories.html">
            <div class="card-simple">Manage Categories</div>
          </a>
          <a class="card-simple-a" href="./ManageProdSubCategories.html">
            <div class="card-simple">Manage Sub Categories</div>
          </a>
          <a class="card-simple-a" href="./ManageProds.html">
            <div class="card-simple">Manage Products</div>
          </a>
        </div>
        <div class="main-component">
          <div>
            <h3>Manage Sub Categories Categories</h3>
            <div class="selectDiv">
              <label for="category">Select Category</label>
              <select name="category" id="category">
                <option value="cat1">Category1</option>
                <option value="cat2">Category2</option>
                <option value="cat3">Category3</option>
                <option value="cat4">Category4</option>
                <option value="cat5">Category5</option>
                <option value="cat6">Category6</option>
              </select>
            </div>
            <div class="subCategories">
              <div class="subCategory-header">
                <div>Category Id</div>
                <div>Sub Category Id</div>
                <div>Sub Category Name</div>
                <div>Edit</div>
                <div>Delete</div>
              </div>
              <div class="subCategory-data">
                <div class="catIdText">
                  <input
                    class="w100"
                    type="text"
                    name="catId2"
                    placeholder="Cat Id"
                  />
                </div>
                <div class="subCatIdText">
                  <input
                    class="w100"
                    type="text"
                    name="subCatId2"
                    placeholder="Sub Cat Id"
                  />
                </div>
                <div class="subCatName">
                  <input
                    class="w100"
                    type="text"
                    name="catName2"
                    placeholder="Sub Cat Name"
                  />
                </div>
                <div class="catEdit">
                  <button class="w100" type="button">Edit</button>
                </div>
                <div class="catDelete">
                  <button class="w100" type="button">Delete</button>
                </div>
              </div>
              <div class="subCategory-data">
                <div class="catIdText">
                  <input
                    class="w100"
                    type="text"
                    name="catId3"
                    placeholder="Cat Id"
                  />
                </div>
                <div class="subCatIdText">
                  <input
                    class="w100"
                    type="text"
                    name="subCatId3"
                    placeholder="Sub Cat Id"
                  />
                </div>
                <div class="subCatName">
                  <input
                    class="w100"
                    type="text"
                    name="catName3"
                    placeholder="Sub Cat Name"
                  />
                </div>
                <div class="catEdit">
                  <button class="w100" type="button">Edit</button>
                </div>
                <div class="catDelete">
                  <button class="w100" type="button">Delete</button>
                </div>
              </div>
              <div class="subCategory-data">
                <div class="catIdText">
                  <input
                    class="w100"
                    type="text"
                    name="catId4"
                    placeholder="Cat Id"
                  />
                </div>
                <div class="subCatIdText">
                  <input
                    class="w100"
                    type="text"
                    name="subCatId4"
                    placeholder="Sub Cat Id"
                  />
                </div>
                <div class="subCatName">
                  <input
                    class="w100"
                    type="text"
                    name="catName4"
                    placeholder="Sub Cat Name"
                  />
                </div>
                <div class="catEdit">
                  <button class="w100" type="button">Edit</button>
                </div>
                <div class="catDelete">
                  <button class="w100" type="button">Delete</button>
                </div>
              </div>
              <div class="subCategory-data">
                <div class="catIdText">
                  <input
                    class="w100"
                    type="text"
                    name="catId5"
                    placeholder="Cat Id"
                  />
                </div>
                <div class="subCatIdText">
                  <input
                    class="w100"
                    type="text"
                    name="subCatId5"
                    placeholder="Sub Cat Id"
                  />
                </div>
                <div class="subCatName">
                  <input
                    class="w100"
                    type="text"
                    name="catName5"
                    placeholder="Sub Cat Name"
                  />
                </div>
                <div class="catEdit">
                  <button class="w100" type="button">Edit</button>
                </div>
                <div class="catDelete">
                  <button class="w100" type="button">Delete</button>
                </div>
              </div>
              <div class="subCategory-data">
                <div class="catIdText">
                  <input
                    class="w100"
                    type="text"
                    name="catId6"
                    placeholder="Cat Id"
                  />
                </div>
                <div class="subCatIdText">
                  <input
                    class="w100"
                    type="text"
                    name="subCatId6"
                    placeholder="Sub Cat Id"
                  />
                </div>
                <div class="subCatName">
                  <input
                    class="w100"
                    type="text"
                    name="catName6"
                    placeholder="Sub Cat Name"
                  />
                </div>
                <div class="catEdit">
                  <button class="w100" type="button">Edit</button>
                </div>
                <div class="catDelete">
                  <button class="w100" type="button">Delete</button>
                </div>
              </div>
              <div class="subCategory-data">
                <div class="catIdText">
                  <input
                    class="w100"
                    type="text"
                    name="catId7"
                    placeholder="Cat Id"
                  />
                </div>
                <div class="subCatIdText">
                  <input
                    class="w100"
                    type="text"
                    name="subCatId7"
                    placeholder="Sub Cat Id"
                  />
                </div>
                <div class="subCatName">
                  <input
                    class="w100"
                    type="text"
                    name="catName7"
                    placeholder="Sub Cat Name"
                  />
                </div>
                <div class="catEdit">
                  <button class="w100" type="button">Edit</button>
                </div>
                <div class="catDelete">
                  <button class="w100" type="button">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
